
<div class="row">
	<h3>Nuova Comunicazione per il cliente: <%= @clienti.nome %></h3>
	<h4>Riferimento intervento del: <%= @interventi.data.strftime("%d/%m/%Y") %> </h4>

</div>

<%= form_for :comunicazioni, url: clienti_interventi_comunicazioni_index_path do |f| %>


<div class="row">
	<div class="input-field col s4">
		
			<i class="material-icons prefix">subtitles</i>
			<%= f.label :tipo %><br><%= f.select :tipo, [['Sms', 'sms'], ['E-mail', 'email']] %>
		
	</div>

	<div class="input-field col s4">
		<i class="material-icons prefix">subtitles</i>
		<%= f.label 'Numero di telefono preceduto da 39' %><br><%= f.text_field :destinatario, :value => '39' + @clienti.telefono %>
	</div>

</div>


<div class="row">
	<div class="input-field col s12">
		<%= f.label "Testo del messaggio" %><br><%= f.text_area :testo, maxlength: 155, class: 'materialize-textarea' %>
	</div>
</div>


	<p><%= f.submit 'Invia Comunicazione' %></p>


<% end %>






<%= link_to 'Indietro', clienti_interventi_path(:id => @interventi ) %>


<%= debug(params) %>

<script>
	$(document).ready(function() {
    	$('select').material_select();
	});
</script>