<%#= form_for :clienti, url: clienti_index_path, class: "col s12" do |f| %>
<% if local_assigns.has_key? :url %>
  <%= form_for :clienti, url: url, method: method, class: "col s12" do |f| %>   


  <div class="row">
    <div class="input-field col s12 hoverable">
      <i class="material-icons prefix">account_circle</i>
      <%= f.label :nome %><br><%= f.text_field :nome, :length=>"254" %>
    </div>
  </div>
  

  <div class="row">
    <div class="input-field col col s12 m6 l6 hoverable">
      <i class="material-icons prefix">subtitles</i>
      <%= f.label :codfisc %><br><%= f.text_field :codfisc, :length=>"16", :maxlength=>"16" %>
    </div>

    <div class="input-field col s12 m6 l6 hoverable">
      <i class="material-icons prefix">work</i>
      <%= f.label :piva %><br><%= f.text_field :piva, :length=>"16", :maxlength=>"18" %>
    </div>  
  </div>
  

  <div class="row">
    <div class="input-field col s12 m6 l6 hoverable">
      <i class="material-icons prefix">phone</i>
      <%= f.label :telefono %><br><%= f.text_field :telefono, :length=>"15" %>
    </div>

    <div class="input-field col s12 m6 l6 hoverable">
      <i class="material-icons prefix">email</i>
      <%= f.label :email %><br><%= f.text_field :email %>
    </div>
  </div>

  
  <div class="row">
    <div class="input-field col s12 hoverable">
      <i class="material-icons prefix">speaker_notes</i>
      <%= f.label :note %><br><%= f.text_area :note, class: 'materialize-textarea' %>
    </div>
  </div>
 
 
  <div class="row">
    <ul class="lista-pulsanti">
      <li><%= link_to '<i class="material-icons left">fast_rewind</i>Indietro'.html_safe, clienti_index_path, class: 'waves-effect waves-light btn' %></li>
      <li><%= f.submit 'Salva', :class => 'btn waves-effect waves-light green' %></li>
    </ul>
  </div>
  
  
  <% end %>
<% end %>